
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

img{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
}
body
{
  background-color: #79b7f5;
}

.container
{
  border: 1px solid black;
  background-color: white;
  max-width: 300px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

border-radius: 5px;
margin-top: 80px;
margin-inline: auto;
  height: 60vh;
}
.title
{
padding-top: 5px;
padding-left: 15px;
}
.title input
{
  margin-top: 10px;
  width:90%;
  font-size: 15px;
  border-radius: 2px;
  padding: 0 17px;
  border: 1px solid #999;
  /* padding-left: 10px */
}

.box
{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  gap:20px
}
img
{
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}
button
{
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  padding: 5px 5px;
width: 80%;
border-radius: 5px;
  color: white;
  background-color: black;
}
button:hover
{
  background: #3455db;

}